<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><u>Contacto</u></h1>
    <ul class="lista">
        <li>
            <h2>Twitter</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident esse deserunt enim, rerum adipisci
                ratione accusantium ipsa modi eveniet aspernatur suscipit maiores ad vitae fugiat nesciunt aliquam
                neque. Ipsa, libero?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, suscipit eius officiis quo,
                inventore voluptatem aliquid quod nemo, tempora quaerat natus quis cum quas aspernatur ducimus
                voluptates rerum tenetur deleniti.
            </p>
        </li>
        <hr>
        <li>
            <h2>Facebook</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut accusantium eos corporis maiores
                laboriosam voluptatum vero quod, enim sit deleniti similique ipsam dolores voluptas! Voluptatem
                accusamus cum corporis consequatur?.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut accusantium eos corporis maiores
                laboriosam voluptatum vero quod, enim sit deleniti similique ipsam dolores voluptas! Voluptatem
                accusamus cum corporis consequatur? </p>

        </li>
        <hr>
        <li>
            <h2>Instagram</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut accusantium eos corporis maiores
                laboriosam voluptatum vero quod, enim sit deleniti similique ipsam dolores voluptas! Voluptatem
                accusamus cum corporis consequatur?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, aut
                accusantium eos corporis maiores laboriosam voluptatum vero quod, enim sit deleniti similique ipsam
                dolores voluptas! Voluptatem accusamus cum corporis consequatur? </p>
        </li>
    </ul>
</body>

</html>