<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>

<body>
    <h1><u>Nosotros</u></h1>
    <div class="contenedor">
        <div class="carlos">
            <h2>Carlos Sepulveda</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam aspernatur eligendi
                animi explicabo nesciunt ex. Vel voluptatem est quaerat nisi. Deleniti, porro? Molestias, veritatis
                sapiente
                quisquam quia praesentium harum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
                accusamus consectetur quae pariatur quis inventore praesentium quas, ab odio quibusdam numquam
                consequatur
                explicabo odit porro dolorem. Inventore cum necessitatibus fuga! </p>
        </div>
        <div class="adrian">
            <h2>Adrian Montoro</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iste voluptatibus odit
                ex incidunt quaerat pariatur, libero, reiciendis assumenda ea aut? Aperiam placeat reiciendis nobis,
                consequuntur exercitationem quod ab error. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Illo
                minima, deserunt veniam aspernatur sint assumenda ullam fugiat debitis ipsum. Repellat dolor magni
                repudiandae quisquam esse nesciunt facere obcaecati, necessitatibus et.</p>
        </div>
        <div class="pepe">
            <h2>Pepe Belgamban</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iste voluptatibus odit
                ex incidunt quaerat pariatur, libero, reiciendis assumenda ea aut? Aperiam placeat reiciendis nobis,
                consequuntur exercitationem quod ab error. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Illo
                minima, deserunt veniam aspernatur sint assumenda ullam fugiat debitis ipsum. Repellat dolor magni
                repudiandae quisquam esse nesciunt facere obcaecati, necessitatibus et.</p>
        </div>
    </div>
</body>

</html>