.holder {
    max-width: 960px;
    margin: 0 auto;
} 

h2 {
    font-weight: 400px;
    color: #875933;
}

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columna {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    background-color: #ccc;
    padding: 20px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 10px 0;
} 
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}