.staff {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.staff h2 {
    position: relative;
    bottom: 20px;

}

h3 {
    color: #BC8516;
    padding-left: 5px;
}

h4 {
    color: #A87A1D;
    padding-left: 5px;
    
}

.columna1 {
    display: block;
    margin-top: 40px;
    position: relative;
    right: 70px;
    border: 1px double #000000;
    padding: 10px;
    gap: 20px;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}
.staff .columna1 p{
 padding-left: 5px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

